{% extends "base.html.twig" %}
{% block title %}404 {% trans "Page Not Found" %}{% endblock %}
{% block container %}
    <h1>{% trans "Login Failed" %}</h1>
    <pre>{{ dump(attributes) }}</pre>
    <a href="{{ config.base_path }}/">{% trans "Return to Home Page" %}</a>
{% endblock %}